@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .bg-element {
    @apply bg-[#2b333d] rounded-md flex items-center justify-center gap-4 p-6 my-4 border border-slate-700
  }
}

body {
  margin: 0;
  color: #adbac7;
  letter-spacing: 0.006px;
  background-color: #22272E;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    font-size: 14px;
}

.sticky-toc {
  width: 220px;
  min-width: 220px;
  margin-top: 10px;
  align-self: flex-start;
  position: -webkit-sticky;
  position: sticky;
  top: 160px;
  max-height: calc(100vh - 70px);
  overflow: auto;
}